<template name="gameShow">
    {{print}}

    {{#if this.gamePoints}}
      {{printThis}}
      <div class="ui raised segment">
      {{#each this.gamePoints}}
        {{#if hasPlayed }}
            <div class="ui green ribbon label">{{playerName}}</div>
            <p>
              <div class="ui black header">
                {{i18n 'game.rank'}}: <div class="ui orange label">{{rank}}</div>
                <!-- <div class="sub header">An excellent color</div> -->
              </div>

              <div class="ui black header">
                {{i18n 'game.pointsValue'}}: <div class="ui orange label">{{points}}</div>
                <!-- <div class="sub header">An excellent color</div> -->
              </div>

            </p>
        {{/if}}
      {{/each}}
      </div>
    {{else}}
      <form class="ui form">
        {{#each playerNames}}
          <div class="field">
            <label>{{ name }}</label>
            <input id="{{ name }}" name="{{ name }}" type="number" placeholder="{{i18n 'game.points'}}" value="{{counter}}">
          </div>
        {{/each}}




        <input type="submit" value="Submit" class="ui vertical animated green large submit button"/>

      </form>
    {{/if}}



</template>
