<template name="home">

    <div class="ui huge header">rankz</div>

    <div class="ui three column doubling main-content features grid">
        {{#each feature}}
            <div class="center aligned column">
                <a href="{{path}}" class="ui unstyled no-hover-styles no-underline link icon header">
                    <span class="headline">{{text}}</span>
                    <i class="{{color}} {{icon}} boilerplate-feature icon"></i>
                </a>
            </div>
        {{/each}}
    </div>

    <div id="packages" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="magic icon"></i></div>
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="center aligned column">
                    <div class="center aligned icon-wrapper">
                        <i class="circular massive red tasks icon"></i>
                    </div>
                </div>
                <div class="column">
                    <h3 class="large ui header">Key Features<div class="sub header">Battle with the best</div></h3>
                    <p>More to come in the future</p>
                    <div class="ui list">
                        {{#each package}}
                            <a href="{{path}}" class="item no-underline link">
                                <i class="archive icon"></i>
                                {{name}}
                            </a>
                        {{/each}}
                    </div>
                    <!-- <div class="ui info message">
                        <div class="header">
                            Removed Packages
                        </div>
                        "insecure" and "autopublish" are removed by default!
                    </div> -->
                </div>
            </div>
        </div>
    </div>




</template>
