<template name="header">
  <nav class="ui top orange floating sidebar labeled icon inverted menu active grid">

    <div class="computer only row">
        <h3 class="header item">rankz</h3>
        <!-- <a class="{{activeRouteClass 'home'}} item" href="{{pathFor 'home'}}">
          <i class="home icon"></i> Home
        </a> -->
        <a class="{{activeRouteClass 'games'}} item" href="{{pathFor 'games'}}">
          <i class="sitemap icon"></i> Games
        </a>
        <a class="{{activeRouteClass 'rank'}} item " href="{{pathFor 'rank'}}">
          <i class="ordered list icon"></i> {{i18n 'header.rank'}}
        </a>
        <a class="{{activeRouteClass 'groups'}} item " href="{{pathFor 'groups'}}">
          <i class="tasks icon"></i> {{i18n 'header.groups'}}
        </a>
        <a class="{{activeRouteClass 'profile'}} item " href="{{pathFor 'profile'}}">
          <i class="user icon"></i> {{username}}
        </a>
<!--         <span class="right floated text item ">
  {{> accountButtons}}
</span> -->
    </div>




    <div class="tablet mobile only row">

      <!--   <a class="{{activeRouteClass 'home'}} item" href="{{pathFor 'home'}}">
        <i class="home icon"></i>
      </a> -->
        <a class="{{activeRouteClass 'games'}} item" href="{{pathFor 'games'}}">
          <i class="sitemap icon"></i>
        </a>
        <a class="{{activeRouteClass 'rank'}} item " href="{{pathFor 'rank'}}">
          <i class="ordered list icon"></i>
        </a>
        <a class="{{activeRouteClass 'groups'}} item " href="{{pathFor 'groups'}}">
          <i class="tasks icon"></i>
        </a>
        <a class="{{activeRouteClass 'profile'}} item" href="{{pathFor 'profile'}}">
          <i class="user icon"></i>
        </a>

    </div>


  </nav>
</template>
