<template name="rankShow">

    <h3 class="ui orange header">Rank {{this.group.groupname}}</h3>

    {{print}}

    {{calcPlayers}}

    <table class="ui inverted orange table segment">
      <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>

      {{#each groupPointsAugmented}}

        <tr>
          <td>{{this.username}}</td>
          <td>{{this.value}} - {{this.gamesPlayed}}</td>
        </tr>

      {{/each}}

      </tbody>
      <tfoot>
        <tr>
          <th>{{i18n 'group.name'}} {{this.group.groupname}}</th>
          <th>{{i18n 'group.memberCount'}} {{this.groupPoints.count}}</th>
        </tr>
      </tfoot>
    </table>

    <div id="chart">
      <svg style="height:400px;width:700px"/>
    </div>
</template>
