<template name="rankShow">

    <h3 class="ui orange header">Rank</h3>

    {{calcPlayers}}

    <table class="ui inverted orange table segment">
      <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>

      {{#each groupPointsAugmented}}
        {{print}}
        <tr>
          <td>{{this.username}}</td>
          <td>{{this.value}}</td>
        </tr>

      {{/each}}

      </tbody>
      <tfoot>
        <tr>
          <th>{{i18n 'group.name'}} {{this.group.groupname}}</th>
          <th>{{i18n 'group.memberCount'}} {{this.groupPoints.count}}</th>
        </tr>
      </tfoot>
    </table>

</template>
