<template name='brandForm'>
  <form class="ui form">
    <div class="ui three fields">

      <div class="field">
        <label>Code</label>
        <input id="code" name="code" type="text" placeholder="barcode">
      </div>

      <div class="field">
        <label>Brand</label>
        <input name="brand" type="text" placeholder="esprit, tomtailor, jackandjones">
      </div>

      <div class="field">
        <label>Product Line:</label>
        <input name="productLine" type="text" placeholder="woman, men, woman denim, men denim">
      </div>


      <div class="field">
        <label>Category</label>
        <input name="category" type="text" placeholder="tshirt, jacket, pants, jeans, blazer, dress">
      </div>

      <div class="field">
        <label>Size</label>
        <input name="size" type="text" placeholder="S, L, M , XL, 32 / 36, 34 / 34">
      </div>

<!--       <div class="field">
  <label>Size</label>
  <div class="ui selection dropdown">
    <input type="hidden" name="size">
    <div class="default text">Choose Size</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" data-value="xxs">XXS</div>
      <div class="item" data-value="xs">XS</div>
      <div class="item" data-value="s">S</div>
      <div class="item" data-value="m">M</div>
      <div class="item" data-value="l">L</div>
      <div class="item" data-value="xl">XL</div>
      <div class="item" data-value="xxl">XXL</div>
      <div class="item" data-value="xxxl">XXXL</div>
    </div>
  </div>

</div> -->
    </div>
    <input type="submit" value="Submit" class="ui vertical animated green large submit button"/>


  </form>
</template>
